<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 控制台 -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<!-- Controler文件输出
	<appender name="controlerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/devlog/controler.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<logger name="com.easou.novelweb.controller" additivity="false">
		<level value="WARN" />
		<appender-ref ref="controlerAppender" />
	</logger>
	 -->
	 
	<root>
		<level value="WARN" />
		<appender-ref ref="consoleAppender" />
	</root>
</log4j:configuration>
