<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 控制台 -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<!-- Controler文件输出 -->
	<appender name="controlerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/devlog/controler.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<!-- service文件输出 -->
	<appender name="serviceAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/devlog/service.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<!-- dao文件输出 -->
	<appender name="daoAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/devlog/dao.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<!-- filter下的输出 -->
	<appender name="easouFilterAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/devlog/filter.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<!-- 通用包名输出 , com.easou下的输出 -->
	<appender name="easouRootAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/devlog/easouRoot.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- html工具类日志 -->
	<appender name="htmlescapeutils" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/devlog/htmlutils.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- 搜索日志 -->
	<appender name="searchAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/resin-books/words/access.log" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- BI统计搜索日志 -->
	<appender name="BISearchAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/resin-books/search/searchrecord.log" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- 接口日志 -->
	<appender name="apiAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/novelweb/api.log" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} | %m%n" />
		</layout>
	</appender>

	<!-- op统计pv日志 -->
	<appender name="perfLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/perf/perf.log" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd HHmmss} %m%n" />
		</layout>
	</appender>

	<!--异常拦截 -->
	<appender name="exceptionResolverAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/devlog/exceptionResolver.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- 搜索结果页竞价组广告接口 -->
	<appender name="adClientAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/other/adClient_search.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<appender name="adClientTimeAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/other/adClientTime_search.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="touchErrorAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/other/touchError.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d {%t} [%p] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- 索引临时统计日志 -->
	<appender name="indexAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/other/indexAppender.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %t %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- Perf4J appenders -->
	<!-- AsyncCoalescingStatisticsAppender收集StopWatch的日志信息并传送到下游的文件appenders -->
	<appender name="CoalescingStatistics"
		class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
		<!-- TimeSlice配置多少时间间隔去做一次汇总写入文件中 默认值是 30000 ms -->
		<param name="TimeSlice" value="30000" />
		<appender-ref ref="statsFileAppender" />
	</appender>

	<!-- 把汇总的perf4j的日志信息写到perfStats.log文件中去 -->
	<appender name="statsFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/other/stat.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<!-- 充值：付费模块日志 开始 -->
	<!-- 用户充值相关日志 -->
	<appender name="chargeAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/book/charge.log" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} - %m%n" />
		</layout>
	</appender>
	<!-- 用户消费相关日志 -->
	<appender name="expenseAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/book/expense.log" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} - %m%n" />
		</layout>
	</appender>
	<appender name="bookAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/book/book.log" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} - %m%n" />
		</layout>
	</appender>
	<!-- 错误日志 -->
	<appender name="errorAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/book/chargeerror.log" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} - %m%n" />
		</layout>
	</appender>
	<!-- 充值：付费模块日志 结束 -->

	<!--Log4JStopWatch默认使用org.perf4j.TimingLogger这个类 -->
	<logger name="statisticCoalescing" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CoalescingStatistics" />
	</logger>
	<logger name="searchIndex" additivity="false">
		<level value="INFO" />
		<appender-ref ref="indexAppender" />
	</logger>
	<logger name="touchError" additivity="false">
		<level value="INFO" />
		<appender-ref ref="touchErrorAppender" />
	</logger>
	<logger name="com.easou.novelweb.filter" additivity="false">
		<level value="WARN" />
		<appender-ref ref="easouFilterAppender" />
	</logger>
	<logger name="com.easou.novelweb.controller" additivity="false">
		<level value="WARN" />
		<appender-ref ref="controlerAppender" />
	</logger>
	<logger name="com.easou.novelweb.service" additivity="false">
		<level value="WARN" />
		<appender-ref ref="serviceAppender" />
	</logger>
	<logger name="com.easou.novelweb.dao" additivity="false">
		<level value="WARN" />
		<appender-ref ref="daoAppender" />
	</logger>
	<logger name="com.easou" additivity="false">
		<level value="INFO" />
		<appender-ref ref="easouRootAppender" />
	</logger>
	<logger name="search_log" additivity="false">
		<level value="INFO" />
		<appender-ref ref="searchAppender" />
	</logger>
	<logger name="bi_search_log" additivity="false">
		<level value="INFO" />
		<appender-ref ref="BISearchAppender" />
	</logger>
	<logger name="exceptionResolver" additivity="false">
		<level value="WARN" />
		<appender-ref ref="exceptionResolverAppender" />
	</logger>
	<logger name="com.easou.novelweb.utils.HtmlEscapeUtils"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="htmlescapeutils" />
	</logger>
	<!-- 竞价组广告客户端 -->
	<logger name="adClient_log" additivity="false">
		<level value="INFO" />
		<appender-ref ref="adClientAppender" />
	</logger>
	<logger name="adClient_time_log" additivity="false">
		<level value="INFO" />
		<appender-ref ref="adClientTimeAppender" />
	</logger>

	<logger name="api_log" additivity="false">
		<level value="INFO" />
		<appender-ref ref="apiAppender" />
	</logger>

	<!--OP统计PV日志 -->
	<logger name="perf_log" additivity="false">
		<level value="INFO" />
		<appender-ref ref="perfLogAppender" />
	</logger>
	<!-- 充值：付费模块日志 开始 -->
	<logger name="charge" additivity="false">
		<level value="INFO" />
		<appender-ref ref="chargeAppender" />
	</logger>
	<logger name="expense" additivity="false">
		<level value="INFO" />
		<appender-ref ref="expenseAppender" />
	</logger>
	<logger name="book" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="bookAppender" />
	</logger>
	<logger name="error" additivity="false">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
	</logger>

	<!-- 充值：付费模块日志 结束 -->
	<root>
		<level value="WARN" />
		<appender-ref ref="consoleAppender" />
	</root>
</log4j:configuration>
